body {
  margin: 0px;
}

.awesomplete {
  position: absolute;
  left: 0px;
  right: 0px;
  width: 70%;
  margin: auto;
  margin-top: .7em;
  z-index: 1000;
}
.awesomplete > ul > li[aria-selected="true"] {
	background: #00859B;
	color: white;
}
.awesomplete > ul[hidden], .awesomplete > ul:empty {
	opacity: 0;
	transform: scale(0);
	display: block;
	transition-timing-function: ease;
}
.awesomplete mark {
	background: #000;
}
.searchBar {
  position: relative;
  height: 3em;
  width: 100%;
  background-color: #ccc;
}

#awesomplete_list_1 {
  z-index: 1000;
}
#map {
  position: fixed;
  width: 100%;
  padding: 0px;
  background-color: #ddd;
  bottom: 0px;
  height: 100%;
}
#search {
  height: 1.5em;
  box-shadow: 1px 2px rgba(0, 0, 0, .5);
  opacity: 0.93;
  width: 100%;
  color: #000;
}
#searchButton {
  display: block;
  position: absolute;
  right: 15%;
  top: 1.5em;
  z-index: 1000;
}
#searchComplete {
  display: none;
}
