@font-face {
  font-family: "Stratum2WebBold";
  src: url("StratumNo2-Bold.ttf") format("ttf"),
  url("StratumNo2-Bold.woff") format("woff");
}
@font-face {
  font-family: "RufinaStencilBold";
  src: url("rufina-stencil-bold.woff2") format("woff2"),
  url("rufina-stencil-bold.woff") format("woff");
}
/* Open Sans is also available to use.  *
 *font-family: 'Open Sans', sans-serif; */
